<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Update Survey </div>


            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-slide-toggle [(ngModel)]="survey.is_public" formControlName="status"> isPublic</mat-slide-toggle>
            </div>
            <div *ngIf="survey.is_public == false">
                <mat-form-field fxFlex="46">
                    <mat-select placeholder="Select Class Sections" formControlName="fruitCtrl" multiple required [(ngModel)]="class_section" >
                        <mat-option *ngFor="let item of ClassSectionResult" [value]="item.id">
                            {{ item.school_class.class_name }}-{{ item.section.section_name }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
            
                 
            </div>
            
            <br>

            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                    <mat-form-field fxFlex="92">
                        <input autocomplete="off" matInput maxlength="255" placeholder="Survey Name" [(ngModel)]="survey.survey_name" formControlName="surveyName" required >
                        
                    </mat-form-field>
                </div>


                <mat-form-field fxFlex="50">
                    <textarea matInput autocomplete="off" placeholder="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"
                        [(ngModel)]="survey.description">
                    </textarea>
                   
                </mat-form-field>

            </div>

            <br>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button" mat-button="" mat-raised-button color="basic" class="mat-button" (click)="addNewSubCategory()">
                    <span class="mat-button-wrapper">Add Question</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <br>

            <div formArrayName="questions">
                <div *ngFor="let questionObj of survey.survey_questions; let i = index">

                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="100">
                                <input matInput autocomplete="off" maxlength="255" placeholder="Question" formControlName="question" required 
                                    [(ngModel)]="questionObj.question">
                                <!-- <mat-error *ngIf="formErrors.categoryName.required">
                                    Category Name is required!
                                </mat-error>
                                <mat-error *ngIf="formErrors.categoryName.minlength">
                                    Category Name must be at least 2 characters long!
                                </mat-error> -->
                               
                            </mat-form-field>

                            <button type="button" mat-button color="warn" class="mat-button mat-warn" (click)="deleteSubCategory(i)">Remove
                            </button>

                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>


            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="ADD MERCHANT CATEGORY" 
                [disabled]="form.invalid  || button_disabled">
                    UPDATE SURVEY
                </button>


            </div>

        </form>

    </div>