<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">
<br>
    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" (click)="onSelect(row)">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <div>
    <ng-container cdkColumnDef="course_name">
        <mat-header-cell *cdkHeaderCellDef fxFlex="900px">Course Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="900px" (click)="onSelect(row)"> {{row.course_name}} </mat-cell>
    </ng-container>
    </div>
    <!-- Code Column -->
   
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openCoursesEdit($course,row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button>
            
<!-- 
                    <button mat-menu-item (click)="deleteCourses($course,row.id)">
                        <mat-icon>Delete</mat-icon>
                        <span>Delete</span>
                    </button> -->
                    
                </mat-menu>
               
            </div>
        </mat-cell>
    </ng-container>


    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
