<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>

                    <div>
                    
                        <div fxFlex="100">
                            <mat-form-field class="example-chip-list">
                                <input matInput placeholder="Student Name" formControlName="Selected_Students" [(ngModel)] = "studentName" readonly>
                            </mat-form-field>
                            
                        </div>
                          </div>
<br/>                  
                         <div div fxLayout="row" fxLayoutAlign="space-around center">
                              <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                <mat-select placeholder="Select a Month"  formControlName = "month"  >
                                    <mat-option *ngFor="let month of registrationByMonths" [value]="month.value">
                                        {{month.name}}
                                    </mat-option>
                            </mat-select></mat-form-field>
                            </div> 
                        <div fxFlex="50">
                            <mat-form-field appearance="fill" fxFlex="92">
                                <mat-label>Choose a Due date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="Due_Date" [(ngModel)] = "student.due_date" >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi="true" #picker ></mat-datepicker>
                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    date is required!
                                 </mat-error>
                            </mat-form-field>
                        </div></div>
                        <div div fxLayout="row" fxLayoutAlign="space-around center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="Enter Amount" formControlName="Amount" [(ngModel)] = "student.amount"  
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    Amount is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Payment Status"  formControlName = "Payment_Status" [(ngModel)] = "payment_status">
                                    <mat-option *ngFor="let payment of PaymentStatuses" [value]="payment.value">
                                        {{payment.name}}
                                    </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                        
<br/>
                       
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" 
                            [disabled]="horizontalStepperStep1.invalid  || button_disabled">
                                Update 
                            </button>
                    </div>

                </form>

            </mat-step>

           

        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->