@import "src/@fuse/scss/fuse";
.example-chip-list {
    width: 100%;
  }
:host {
    width: 100%;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
    mat-cell.mat-cell, mat-header-cell.mat-header-cell {
        overflow: visible; 
    }

    mat-expansion-panel, mat-expansion-panel-header{
        overflow:visible
    }
    mat-panel-title{
        overflow:visible
    }
}
