<div id="login" fxLayout="column" fusePerfectScrollbar>
    
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <mat-progress-bar *ngIf="this.authService.showLoadingBar" class="loading-bar" color="primary" mode="indeterminate"></mat-progress-bar>

            <div class="logo">
                <img src="assets/images/backgrounds/logo.png">
            </div>

            <div class="title">LOGIN</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="login()">
                <br>
                <mat-form-field>
                    <input [(ngModel)]="user.email" matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="loginFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="user.password" matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="loginFormErrors.password.required">
                        Password is required
                    </mat-error>
                </mat-form-field>


                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid">
                    LOGIN
                </button>

            </form>

        </div>

    </div>

</div>