<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav #leftSideNav class="sidenav left-sidenav" align="start" opened="false" mode="over" fuseMatSidenavHelper="file-manager-left-sidenav">
            <fuse-file-manager-main-sidenav [leftSideNav]="leftSideNav"></fuse-file-manager-main-sidenav>
        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <div class="left-side" fxLayout="row">
                        <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-left-sidenav">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>

                    <div class="right-side" fxLayout="row">
                        <form [formGroup]="form">
                            <input *ngIf="isSearch==true" [matAutocomplete]="merchant" formControlName="merchantName" placeholder="Search" style="color: black;" />
                            <mat-autocomplete #merchant="matAutocomplete" >
                                <mat-option *ngFor="let item of merchantSearchResult" [value]="item.name">
                                    {{ item.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </form>
                    </div>
                </div>
                    <!-- / TOOLBAR -->

                    <!-- BREADCRUMB -->
                    <div class="breadcrumb h1 pl-72" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                        
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span>Leaves</span>
                            <mat-icon class="separator">chevron_right</mat-icon>
                            <span>List</span>
                        </div>
                    </div>
                    <!-- / BREADCRUMB -->

                   

                    <!-- / ADD FILE BUTTON -->
                </div>
                <!-- / HEADER -->

                <!-- CONTENT -->
                <div class="content mat-white-bg" fusePerfectScrollbar>
                    <fuse-file-list></fuse-file-list>
                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CENTER -->

            <!-- SIDENAV -->
            <!--
        <mat-sidenav class="sidenav right-sidenav " align="end" opened="true" mode="side"
                     fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
            <fuse-file-manager-details-sidenav></fuse-file-manager-details-sidenav>
        </mat-sidenav>
        -->
            <!-- / SIDENAV -->

    </mat-sidenav-container>
    </div>