<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>

                    <div>
                    
                        <div fxFlex="100">
                            <mat-form-field class="example-chip-list">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let student of students;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(student,indx)">
                                        {{student.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input placeholder="Select Student..." #studentInput [formControl]="studentCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" formControlName = "Selected_Students"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
                                        {{student.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            
                        </div>
                          </div>
<br/>                  
                         <div div fxLayout="row" fxLayoutAlign="space-around center">
                              <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                <mat-select placeholder="Select a Month"  formControlName = "month" (change) = "monthChanged($event)" >
                                    <mat-option *ngFor="let month of registrationByMonths" [value]="month.value">
                                        {{month.name}}
                                    </mat-option>
                            </mat-select></mat-form-field>
                            </div> 
                        <div fxFlex="50">
                            <mat-form-field appearance="fill" fxFlex="92">
                                <mat-label>Choose a Due date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="Due_Date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker touchUi="true" startView="month" [startAt]="startDate"></mat-datepicker>
                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    date is required!
                                 </mat-error>
                            </mat-form-field>
                        </div></div>
                        <div div fxLayout="row" fxLayoutAlign="space-around center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="Enter Amount" formControlName="Amount"  
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    Amount is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Payment Status"  formControlName = "Payment_Status" >
                                    <mat-option *ngFor="let payment of PaymentStatuses" [value]="payment.value">
                                        {{payment.name}}
                                    </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                        
<br/>
                       
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" [disabled]="horizontalStepperStep1.invalid">
                                Add 
                            </button>
                    </div>

                </form>

            </mat-step>

           

        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->