<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">
<br>
    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" >
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    
    <!-- Code Column -->
    <div>
    <ng-container cdkColumnDef="Student_Name">
        <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Student Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="150px" > {{row.student_name}} </mat-cell>
    </ng-container>
    </div>
<div>
    <ng-container cdkColumnDef="Teacher_Name">
        <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Teacher Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="150px" > {{row.faculty_name}} </mat-cell>
    </ng-container>
    </div>
    
    <div>
        <ng-container cdkColumnDef="Description">
            <mat-header-cell *cdkHeaderCellDef fxFlex="200px">Description</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="200px" > {{row.description}} </mat-cell>
        </ng-container>
    </div>
    
    
<div>
    <ng-container cdkColumnDef="Comments">
        <mat-header-cell *cdkHeaderCellDef fxFlex="200px">Comments</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="200px">
            <div>
                <button mat-button (click)="openDialog(row.parent_teacher_meeting_comments)">Open Conversation</button>
            </div>   
        </mat-cell>
    </ng-container>
</div>

<div>
    <ng-container cdkColumnDef="Date">
        <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Appointment Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="150px" > {{row.appointment_date}} </mat-cell>
    </ng-container>
</div>

<div>
    <ng-container cdkColumnDef="Time">
        <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Appointment Time</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="150px" > {{row.appointment_date | date:'shortTime' }} </mat-cell>
    </ng-container>
</div>


  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
