<br>
<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" (click)="onSelect(row)">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <div>
        <ng-container cdkColumnDef="event_name">
            <mat-header-cell *cdkHeaderCellDef fxFlex="200px">Event Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row"  fxFlex="200px"(click)="onSelect(row)"> {{row.event_name}}</mat-cell>
        </ng-container>
        </div>
    <!-- Code Column -->
    <div>
        <ng-container cdkColumnDef="event_description">
        <mat-header-cell  *cdkHeaderCellDef>Description</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="width:200px; height:20px; overflow:hidden" (click)="onSelect(row)">  {{row.description}} </mat-cell> 
    </ng-container>

    </div>
    
    <div>
        <ng-container cdkColumnDef="location">
            <mat-header-cell *cdkHeaderCellDef fxFlex="200px">Location</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="200px" (click)="onSelect(row)"> {{row.location}} </mat-cell>
        </ng-container>
        </div>
   
    <!-- Title Column -->
    <div>
        <ng-container cdkColumnDef="event_date">
            <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Event Date</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="150px" (click)="onSelect(row)">{{row.event_date}}</mat-cell>
        </ng-container>
        </div>
   
    
 
 

    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEventsEdit($event,row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button>
            

                    <!-- <button mat-menu-item (click)="deleteEvents($event,row.id)">
                        <mat-icon>Delete</mat-icon>
                        <span>Delete</span>
                    </button> -->
                    
                </mat-menu>
               
            </div>
        </mat-cell>
    </ng-container>


    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
