<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Response Survey </div>

            <br>
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                <div fxFlex="35">
                   <mat-card>
                       <canvas baseChart
                       [datasets] = "barChartData"
                       [labels] = "barChartLabels"
                       [legend] = "barChartLegend"
                       [options] = "barChartOptions"
                       [chartType] = "barChartType"
                       > </canvas>
                      </mat-card>
                </div>
                <div fxFlex="35">
                    <mat-card>
                        <canvas baseChart
                        [datasets] = "barChartData1"
                        [labels] = "barChartLabels"
                        [legend] = "barChartLegend"
                        [options] = "barChartOptions1"
                        [chartType] = "barChartType"
                        > </canvas>
                       </mat-card>
                 </div>
                 
                  </div>
                  <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                    <div fxFlex="35">
                        <mat-card>
                            <canvas baseChart
                            [datasets] = "barChartData2"
                            [labels] = "barChartLabels"
                            [legend] = "barChartLegend"
                            [options] = "barChartOptions2"
                            [chartType] = "barChartType"
                            > </canvas>
                        </mat-card>
                     </div>
                    
                    <div fxFlex="35">
                        <mat-card>
                            <canvas baseChart
                            [datasets] = "barChartData3"
                            [labels] = "barChartLabels"
                            [legend] = "barChartLegend"
                            [options] = "barChartOptions3"
                            [chartType] = "barChartType"
                            > </canvas>
                         </mat-card>
                     </div>
                     
                      </div>
                      <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                        
                        <div fxFlex="35">
                            <mat-card>
                                <canvas baseChart
                                [datasets] = "barChartData4"
                                [labels] = "barChartLabels"
                                [legend] = "barChartLegend"
                                [options] = "barChartOptions4"
                                [chartType] = "barChartType"
                                > </canvas>
                            </mat-card>
                         </div>
                          </div>
                      
                     
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button" mat-button="" mat-raised-button color="basic" class="mat-button" (click)="seeResponseList($event,survey.survey.id)">
                    <span class="mat-button-wrapper">Details</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>



        </form>

    </div></div>
    