<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon" >
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row"  fxFlex="64px" >
        <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Merchant Name Column -->
   
    <ng-container cdkColumnDef="category_name">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md >Survey Name</mat-header-cell>
       <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" > {{row.survey_name}}</mat-cell>
    </ng-container>


    <!-- Affiliate Column -->
   
    <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Description</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="width:500px; height:20px; overflow:hidden" (click)="onSelect(row)" ><div style="width:500px;height:20px; overflow:hidden">{{row.description}}</div></mat-cell>
    </ng-container>


    <!-- Modified Column -->
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openCategoryEdit($event,row.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Update</span>
                    </button>
                    <button mat-menu-item (click)="openSurveyResponses($event,row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>View Responses</span>
                      </button>
                     
                    <!-- <button mat-menu-item (click)="openUserDashboard($event,row.id)">
                      <mat-icon>timeline</mat-icon>
                      <span>Activities</span>
                    </button> -->
                  </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle"
                    fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
