<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>

                    <div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input autocomplete="off" matInput maxlength="255" placeholder="Progress Key" formControlName="Progress_key" [(ngModel)]="progress_evaluation_key.key_name" 
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    Progress Key  is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        </div>

                        <div>
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <input autocomplete="off" matInput maxlength="255" placeholder="Progress Key Name" formControlName="Progress_Key_Name" [(ngModel)]="progress_evaluation_key.key_description" 
                                        required>
    
                                    <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                        Progress Key name is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            </div>
                        <div fxLayout="row" fxLayoutAlign="start center" >
                            <div class="auto-width"> 
                            <mat-form-field appearance="fill" >
                                <mat-label>select Class Section</mat-label>
                                <mat-select [(ngModel)]="progress_evaluation_key.class_section_id" formControlName="ClassSelector" name="ClassSelector">
                                    <mat-option *ngFor="let class of ClassSectionResult" [value]="class.id">
                                    {{class.school_class.class_name}} {{class.section.section_name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field></div>
                        </div>
                        
<br/>
                       
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()"
                             [disabled]="horizontalStepperStep1.invalid || button_disabled ">
                            SAVE
                        </button>
                    </div>

                </form>

            </mat-step>


        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->