<br>
<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <ng-container cdkColumnDef="empty" >
        <mat-header-cell  *cdkHeaderCellDef fxFlex="50px"></mat-header-cell>
        <mat-cell  *cdkCellDef="let row" fxFlex="50px" (click)="onSelect(row)">
            <!-- <img src="{{'https://quotientmedia.blob.core.windows.net/mediacontainer/'+row.id+'_small.png'}}" /> -->
            <!-- <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon> -->
        </mat-cell>
    </ng-container>

    <!-- Type Column -->
<!--    <ng-container cdkColumnDef="icon">-->
<!--        <mat-header-cell *cdkHeaderCellDef fxFlex="130px"></mat-header-cell>-->
<!--        <mat-cell *cdkCellDef="let row" fxFlex="130px" (click)="onSelect(row)">-->
<!--            <img src="{{'https://quotientmedia.blob.core.windows.net/mediacontainer/'+row.id+'_small.png'}}" />-->
<!--            &lt;!&ndash; <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon> &ndash;&gt;-->
<!--        </mat-cell>-->
<!--    </ng-container>-->

    <!-- Code Column -->
    <ng-container cdkColumnDef="student_id">
      <mat-header-cell *cdkHeaderCellDef fxFlex="60px">ID</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxFlex="60px" (click)="onSelect(row)"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Student Roll number Column -->
    <ng-container cdkColumnDef="enrolment_number">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md fxFlex="150px">Roll No.</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" fxFlex="150px"> {{row.enrollment_number}}</mat-cell>
        </ng-container>

    <!-- Student Name Column -->
    <ng-container cdkColumnDef="student_name">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md fxFlex="150px">Student Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" fxFlex="150px"> {{row.first_name}} {{row.last_name}}</mat-cell>
    </ng-container>

     <!-- Gender Column -->
   
        <ng-container cdkColumnDef="gender">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md fxFlex="80px">Gender</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md fxFlex="80px" (click)="onSelect(row)">
            <div *ngIf="row.gender == 'M' ">
                Male
             </div>
             <div *ngIf="row.gender == 'F'">
                Female
            </div>
            </mat-cell>
            </ng-container>

        <ng-container cdkColumnDef="mobile">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md fxFlex="150px">C.No</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" fxFlex="150px"> {{row.mobile}}</mat-cell>
        </ng-container>

    <!-- Student mobile Column -->
 
    <!-- Student Email Column -->
    <ng-container cdkColumnDef="email">
        <mat-header-cell *cdkHeaderCellDef  fxFlex="200px">Email</mat-header-cell>
        <mat-cell *cdkCellDef="let row"  (click)="onSelect(row)" fxFlex="200px"> {{row.email}} </mat-cell>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container cdkColumnDef="dob">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>DOB</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)"> {{row.date_of_birth}} </mat-cell>
    </ng-container>

  <!-- Student Class Column -->
  <ng-container cdkColumnDef="class">
    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Class-Section</mat-header-cell>
    <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)">
      {{row.class_section.school_class.class_name}}-{{row.class_section.section.section_name}}
    </mat-cell>
  </ng-container>

    <!-- Modified Column -->
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openStudentEdit($event,row.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Update</span>
                  </button>

                  <!-- <button mat-menu-item (click)="deleteStudent($event,row.id)">
                    <mat-icon>Delete</mat-icon>
                    <span>Delete</span>
                  </button> -->

                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
<!--    <ng-container cdkColumnDef="detail-button">-->
<!--        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>-->
<!--        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>-->
<!--            <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-right-sidenav">-->
<!--                <mat-icon>info</mat-icon>-->
<!--            </button>-->
<!--        </mat-cell>-->
<!--    </ng-container>-->

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
