@import "src/@fuse/scss/fuse";

:host {
    width: 100%;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 40px;

            // .mat-cell {

                // &.mat-column-icon {
                //     flex: 0 0 200px;
                // }

                // &.mat-column-detail-button {
                // }
            // }
        }
        
        .mat-column-icon {
            flex: 0 0 200px;
            width: 200px;
        }


        // .customWidthClass{
        //     flex: 0 0 200px;
        //  }
        
    }
}
