@import "src/@fuse/scss/fuse";

:host {
    width: 100%;
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        flex-grow: 1;
        max-height: 50px;
        overflow-y: auto;
        overflow-x: auto;
        white-space: initial;
      }
      th, td {
        padding: 5px;
        text-align: left;
      }
    .example::-webkit-scrollbar {
        display: none;
      }
    .card{
        width: 44.5%;
        overflow-y: scroll !important;
    }
    .simple-card{
        height: 450px;
        width: 30%;
        margin:10px auto;
       // width: 30%;
    } 
    .mat-card-content{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: auto;
        white-space: initial;
    }
    .scrollable {
        overflow-y: scroll !important;
    }
    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 40px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
}
