<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"  fxLayout="column" fxLayoutAlign="start"
        fxFill  fxFlex="1 0 auto"  >

            <div fxLayoutAlign="center center">
                <div class="h2 mb-24">Response Survey </div>
            </div>
               <div fxLayoutGap="2%" fxLayout="row" fxLayoutAlign="center center" fxFill fxFlex="1 0 auto"> 
                    <mat-card class="simple-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Qno 1</mat-card-title>
                          <mat-card-subtitle>Graph</mat-card-subtitle>
                        </mat-card-header>
                                <canvas baseChart
                                [datasets] = "barChartData"
                                [labels] = "barChartLabels"
                                [legend] = "barChartLegend"
                                [options]="pieChartOptions"
                                [colors]="pieChartColors"
                                [chartType] = "barChartType"
                                > </canvas>
                        <mat-card-content>
                            <h2>Details</h2>
                            <p>Question : {{detailQ1[0].question}}</p>
                            <table style="width:100%">
                              <caption>Detailed Response</caption>
                              <tr>
                                <th>Parent Name</th>
                                <th>Rated</th>
                              </tr>
                              <tr *ngFor ="let item of detailQ1">
                                <td>{{item.parent_name}}</td>
                                <td>{{item.answer}}</td>
                              </tr>
                          
                            </table>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                      </mat-card> 
                    

                      <mat-card class="simple-card" >
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Qno 2</mat-card-title>
                          <mat-card-subtitle>Graph</mat-card-subtitle>
                        </mat-card-header>
                                <canvas baseChart
                                [datasets] = "barChartData1"
                                [labels] = "barChartLabels"
                                [options]="pieChartOptions"
                                [colors]="pieChartColors"
                                [legend] = "barChartLegend"
                                [chartType] = "barChartType"
                                > </canvas>
                                <mat-card-content>
                                  <h2>Details</h2>
                                  <p>Question : {{detailQ2[0].question}}</p>
                                  <table style="width:100%">
                                    <caption>Detailed Response</caption>
                                    <tr>
                                      <th>Parent-Student</th>
                                      <th>Rated</th>
                                    </tr>
                                    <tr *ngFor ="let item of detailQ2">
                                      <td>{{item.parent_name}}</td>
                                      <td>{{item.answer}}</td>
                                    </tr>
                                
                                  </table>
                              </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                      </mat-card> 
                    
                      <mat-card class="simple-card"  >
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Qno 3</mat-card-title>
                          <mat-card-subtitle>Graph</mat-card-subtitle>
                        </mat-card-header>
                                <canvas baseChart
                                [datasets] = "barChartData2"
                                [labels] = "barChartLabels"
                                [options]="pieChartOptions"
                                [colors]="pieChartColors"
                                [legend] = "barChartLegend"
                                [chartType] = "barChartType"
                                > </canvas>
                                <mat-card-content>
                                  <h2>Details</h2>
                                  <p>Question : {{detailQ3[0].question}}</p>
                                  <table style="width:100%">
                                    <caption>Detailed Response</caption>
                                    <tr>
                                      <th>Parent Name</th>
                                      <th>Rated</th>
                                    </tr>
                                    <tr *ngFor ="let item of detailQ3">
                                      <td>{{item.parent_name}}</td>
                                      <td>{{item.answer}}</td>
                                    </tr>
                                
                                  </table>
                              </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                      </mat-card>    
                      </div><br>
                      
                      <div fxLayoutGap="2%" fxLayout="row" fxLayoutAlign="center center" fxFill fxFlex="1 0 auto"> 
                        <mat-card class="card" style="width: 44%;">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Qno 4</mat-card-title>
                              <mat-card-subtitle>Graph</mat-card-subtitle>
                            </mat-card-header>
                                    <canvas baseChart style="width:100%"
                                    [datasets] = "barChartData3"
                                    [labels] = "barChartLabels"
                                    [options]="pieChartOptions"
                                    [colors]="pieChartColors"
                                    [legend] = "barChartLegend"
                                    [chartType] = "barChartType"
                                    > </canvas>
                                    <mat-card-content>
                                      <h2>Details</h2>
                                      <p>Question : {{detailQ4[0].question}}</p>
                                      <table style="width:100%">
                                        <caption>Detailed Response</caption>
                                        <tr>
                                          <th>Parent Name</th>
                                          <th>Rated</th>
                                        </tr>
                                        <tr *ngFor ="let item of detailQ4">
                                          <td>{{item.parent_name}}</td>
                                          <td>{{item.answer}}</td>
                                        </tr>
                                    
                                      </table>
                                  </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card> 
                        
                          <mat-card class="card" style="width: 44%;" >
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Qno 5</mat-card-title>
                              <mat-card-subtitle>Graph</mat-card-subtitle>
                            </mat-card-header>
                                    <canvas baseChart style="width:100%"
                                    [datasets] = "barChartData4"
                                    [labels] = "barChartLabels"
                                    [colors]="pieChartColors"
                                    [options]="pieChartOptions"
                                    [legend] = "barChartLegend"
                                    [chartType] = "barChartType"
                                    > </canvas>
                                    <mat-card-content>
                                      <h2>Details</h2>
                                      <p>Question : {{detailQ5[0].question}}</p>
                                      <table style="width:100%">
                                        <caption>Detailed Response</caption>
                                        <tr>
                                          <th>Parent Name</th>
                                          <th>Rated</th>
                                        </tr>
                                        <tr *ngFor ="let item of detailQ5">
                                          <td>{{item.parent_name}}</td>
                                          <td>{{item.answer}}</td>
                                        </tr>
                                    
                                      </table>
                                  </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>     
                          </div>
                      
    </div>

    </div></div>
    

