<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">
<br>
    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <div>
    <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef fxFlex="175px">Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="175px">
           {{row[0]| date: 'dd/MM/yyyy'}}            </mat-cell>
    </ng-container>
    </div>
                        
    <!-- Code Column -->
   
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-button (click)="openDialog(row[1],row[0])">Open Response</button>
           </div>
        </mat-cell>
    </ng-container>


    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
