<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" 
            (ngSubmit)="onSubmit()" 
            fxLayout="column" 
            fxLayoutAlign="start"
            fxFlex="1 0 auto" 
            name="form" 
            [formGroup]="form">

            <div class="h2 mb-24">Add New Survey </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-slide-toggle [(ngModel)]="surveyStatus" formControlName="status"> IsPublic</mat-slide-toggle>
            </div>
            
            <div *ngIf="surveyStatus == false">
                <mat-form-field fxFlex="46">
                    <mat-select placeholder="Select Class Sections" formControlName="fruitCtrl" multiple required>
                        <mat-option *ngFor="let item of ClassSectionResult" [value]="item.id">
                            {{ item.school_class.class_name }}-{{ item.section.section_name }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
            
                 
            </div>
            <br>

            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div fxFlex="50">
                <mat-form-field fxFlex="90">
                    <input autocomplete="off" matInput placeholder="Survey Name" formControlName="surveyName" required maxlength="255">
                    </mat-form-field>
            </div>

                <mat-form-field fxFlex="50">
                    <textarea  autocomplete="off" matInput placeholder="Description"
                              formControlName="description" 
                              matTextareaAutosize 
                              matAutosizeMinRows="1" 
                              matAutosizeMaxRows="6">
                    </textarea>
                        
                </mat-form-field>
                <mat-form-field fxFlex="46">
                    <mat-select placeholder="Survey Type" formControlName="type"  required>
                        <mat-option *ngFor="let surveyType of surveyTypes" [value]="surveyType.value">
                            {{surveyType.name}}
                        </mat-option>
                    </mat-select>
                   </mat-form-field>
            

            </div>

            <br>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button"
                        mat-button=""
                        mat-raised-button 
                        color="basic"
                        class="mat-button"
                        [disabled]="questionCount == 5"
                        (click)="addNewSubCategory()">
                            <span class="mat-button-wrapper">Add Question</span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <br>

            <div formArrayName="questions">
                <div *ngFor="let question of DynamicFormControls.controls ; let i = index">
                    
                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        
                            <mat-form-field fxFlex="200">
                                <input matInput placeholder="Enter Question" 
                                autocomplete="off"   formControlName="question" 
                                       required maxlength="255">
                              </mat-form-field>
                        
                          
                            <button type="button"
                                mat-button color="warn"
                                class="mat-button mat-warn"
                                (click)="deleteSubCategory(i)">Remove
                            </button>
                        
                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>


            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" 
                        mat-raised-button color="accent" 
                        class="submit-button"
                        aria-label="ADD MERCHANT CATEGORY" 
                        [disabled]="form.invalid  || button_disabled"
                        *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                            ADD SURVEY
                </button>


            </div>

        </form>

    </div>
