<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" 
             (ngSubmit)="onSubmit()"
            fxLayout="column" 
            fxLayoutAlign="start"
            fxFlex="1 0 auto" 
            name="form" 
            [formGroup]="form">

            <div class="h2 mb-24">Add New Class </div>

            <br>

            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div fxFlex="50">
                <mat-form-field fxFlex="90">
                    <input autocomplete="off" matInput placeholder="Class Name" formControlName="class_name" required minlength="1"
                         maxlength="255">
                    <mat-error *ngIf="!formErrors.className.minlength">
                        Please enter a Class Name!
                    </mat-error>
                </mat-form-field>
            </div>

            
            </div>

            <br>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button"
                        mat-button=""
                        mat-raised-button 
                        color="basic"
                        class="mat-button"
                        (click)="addNewSection()">
                            <span class="mat-button-wrapper">Add Sections</span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <br>

            <div formArrayName="sections">
                <div *ngFor="let subcat of DynamicFormControlsSection.controls; let i = index">
                    
                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        
                            <mat-form-field fxFlex="20">
                                <input matInput placeholder="Section Name" 
                                       formControlName="section_name" 
                                       autocomplete="off"
                                        maxlength="255" >
                                <!-- <mat-error *ngIf="formErrors.categoryName.required">
                                    Category Name is required!
                                </mat-error>
                                <mat-error *ngIf="formErrors.categoryName.minlength">
                                    Category Name must be at least 2 characters long!
                                </mat-error>
                                <mat-error *ngIf="formErrors.categoryName.pattern">
                                    Please enter a valid Category Name!
                                </mat-error> -->
                            </mat-form-field>
                            <mat-form-field fxFlex="46">
                                <mat-select placeholder="Class Teacher" formControlName="faculty_id" required>
                                    <mat-option *ngFor="let teacher of teachers" [value]="teacher.information.id">
                                        {{teacher.first_name}} {{teacher.last_name}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                        
                            
                            <button type="button"
                                mat-button color="warn"
                                class="mat-button mat-warn"
                                (click)="deleteSection(i)">Remove
                            </button>
                        
                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>
            
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button"
                        mat-button=""
                        mat-raised-button 
                        color="basic"
                        class="mat-button"
                        (click)="addNewCourse()">
                            <span class="mat-button-wrapper">Add Courses</span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <div formArrayName="courses">
                <div *ngFor="let subcat of DynamicFormControls.controls ; let i = index">
                    
                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        
                           
                            <mat-form-field fxFlex="46">
                                <mat-select placeholder="Courses" formControlName="course_id" required>
                                    <mat-option *ngFor="let course of courses" [value]="course.id">
                                        {{course.course_name}} 
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                        
                            
                            <button type="button"
                                mat-button color="warn"
                                class="mat-button mat-warn"
                                (click)="deleteCourse(i)">Remove
                            </button>
                        
                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>


            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" 
                        mat-raised-button color="accent" 
                        class="submit-button"
                        aria-label="ADD CLASS" 
                        [disabled]="form.invalid || button_disabled"
                         >
                          ADD CLASS 
                </button>


            </div>

        </form>

    </div>
