@import "src/@fuse/scss/fuse";

:host {
    width: 100%;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
    mat-cell.mat-cell, mat-header-cell.mat-header-cell {
        overflow: visible; 
    }

    mat-expansion-panel, mat-expansion-panel-header{
        overflow:visible
    }
    mat-panel-title{
        overflow:visible
    }
    // .mat-icon, .mat-white-bg .icon {
    //     color: rgba(255, 255, 255, 0.87);
    // }
    // .image-container[_ngcontent-c34] {
    //     width: 100%;
    //     height: 100%;
    //     position: relative;
    //     display: inline-block;
    //     background-color: #f1f1f1;
    //     box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

    //     .match-parent[_ngcontent-c34] {
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .img[_ngcontent-c34] {
    //         cursor: pointer;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         margin-right: -50%;
    //         transform: translate(-50%, -50%);
    //     }
    //     .img {
    //         border-style: none;
    //         max-width: 100%;
    //         height: auto;
    //         vertical-align: top;
    //         border: none;
    //     }
        
    // }

    // #CancelUpdateSmallImageBtn{
    //     display: none !important;
    // }

    // #CancelUpdateLargeImageBtn{
    //     display: none !important;
    // }
    .image-preview {
        height: 10rem;
        margin: 1rem 0;
    }
    .image-preview img {
        height: 100%;
        
    }
    input[type="file"]{
        visibility: hidden;
    }
}
