<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <!-- <mat-sidenav class="sidenav left-sidenav" align="start" opened="false" mode="over"
                     fuseMatSidenavHelper="file-manager-left-sidenav">
            <fuse-file-manager-main-sidenav></fuse-file-manager-main-sidenav>
        </mat-sidenav> -->
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <div class="left-side" fxLayout="row">
                        <!-- <button mat-icon-button class="sidenav-toggle"
                                fuseMatSidenavToggler="file-manager-left-sidenav">
                            <mat-icon>filter_list</mat-icon>
                        </button> -->
                    </div>

                    <!-- <div >
                        <form [formGroup]="placementShedulingForm">
                            <mat-form-field fxFlex="200px">
                                <mat-select placeholder="Select Page" formControlName="selectPage" [(ngModel)]="selectedPage">
                                    <mat-option *ngFor="let page of pages" [value]="page">
                                        {{page.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            </form>
                    
                    </div> -->
                   
                   
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb h1 pl-72" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                    <!-- <div *ngFor="let path of pathArr; last  as isLast" fxLayout="row" fxLayoutAlign="start center">
                        <span>{{path}}</span>
                        <mat-icon *ngIf="!isLast" class="separator">chevron_right</mat-icon>
                    </div> -->
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Timetable</span>
                        <mat-icon class="separator">chevron_right</mat-icon>
                        <span>{{className}}</span>
                        
                      
                    </div>
                
                    </div>
                    <div style="position:relative;top:15px">
                        <mat-form-field appearance="fill">
                            
                            <mat-select [(ngModel)]="selectedClass" style="color: white; " (change)="onChange()" >
                                <mat-option [value]="0" aria-selected="true">Select Class</mat-option>
                                <mat-option *ngFor="let class of classes" [value]="class.id">
                                    {{class.school_class.class_name}}{{class.section.section_name}}
                                </mat-option>
                          </mat-select>
                          </mat-form-field>
                </div>
                    
                </div>

                <!-- <div>
                    <button type="button" (click)="previousweek()">Previous Week</button>
                    <button type="button" (click)="nextweek()">Next Week</button>
                </div> -->




                <!-- / BREADCRUMB -->

                <!-- ADD FILE BUTTON -->
                <!-- <div class="file-uploader">
                    <input hidden type="file" #fileInput/>
                    <button mat-fab
                            class="add-file-button mat-warn"
                            (click)="openUserAdd()"
                            aria-label="Add User"
                            *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>add</mat-icon>
                    </button>
                </div> -->
                <!-- / ADD FILE BUTTON -->

            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content mat-white-bg">
                <app-swap [page]="selectedPage" [showLoadingBar]="showLoadingBar"></app-swap>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <!--
        <mat-sidenav class="sidenav right-sidenav " align="end" opened="true" mode="side"
                     fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
            <fuse-file-manager-details-sidenav></fuse-file-manager-details-sidenav>
        </mat-sidenav>
        -->
        <!-- / SIDENAV -->

    </mat-sidenav-container>
</div>