<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">
<br>
    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="15px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="15px" >
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <div>
    <ng-container cdkColumnDef="Class-Section">
        <mat-header-cell *cdkHeaderCellDef fxFlex="15%">Class-Section</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="15%">
             {{row.section_course.class_section.school_class.class_name}}
              {{row.section_course.class_section.section.section_name}} </mat-cell>
    </ng-container>
    </div>
    <div>
    <ng-container cdkColumnDef="Course Name">
        <mat-header-cell *cdkHeaderCellDef fxFlex="15%">Course Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="15%" > 
            {{row.section_course.course.course_name}} </mat-cell>
    </ng-container>
    </div>

    <div>
    <ng-container cdkColumnDef="Course Teacher">
        <mat-header-cell *cdkHeaderCellDef fxFlex="15%">Course Teacher</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="15%" > {{row.section_course.course_teacher_name}} </mat-cell>
    </ng-container>
    </div>

    <div>
    <ng-container cdkColumnDef="Diary Info">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20%">Diary Info</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20%">
            {{row.diary_info}} 
             </mat-cell>
    </ng-container>
    </div>

    <div>
        <ng-container cdkColumnDef="image">
            <mat-header-cell *cdkHeaderCellDef fxFlex="10%">Image</mat-header-cell>
            
            <mat-cell *cdkCellDef="let row" fxFlex="10%" > 
                <button button mat-raised-button color="primary" (click)=" onSelect(row,1)">Download</button>    
            </mat-cell>
        </ng-container>
    </div>
    <div>
        <ng-container cdkColumnDef="link">
            <mat-header-cell *cdkHeaderCellDef fxFlex="10%">Document</mat-header-cell>
            
            <mat-cell *cdkCellDef="let row" fxFlex="10%" > 
                <button button mat-raised-button color="primary" (click)=" onSelect(row,2)">Download</button>    
            </mat-cell>
        </ng-container>
        </div>
    
    <!-- Code Column -->
   
   

    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
