<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>
                 
                  <br>

                    <div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="First Name" formControlName="first_name" [(ngModel)]="student.first_name" (keyup)="onKey($event)"
                                autocomplete="off" required >

                                <mat-error ng-show="horizontalStepperStep1Errors.first_name.required">
                                    First Name is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                          <mat-form-field fxFlex="92">
                            <input matInput maxlength="255" placeholder="Last Name" formControlName="last_name" [(ngModel)]="student.last_name" (keyup)="onKey($event)"
                            autocomplete="off"   required>

                            <mat-error ng-show="horizontalStepperStep1Errors.last_name.required">
                              Last Name is required!
                            </mat-error>
                          </mat-form-field>
                        </div>   </div>
                     
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                      <div fxFlex="40">
                        <mat-form-field fxFlex="80">
                          <input matInput maxlength="255" autocomplete="off" placeholder="Student Fees" formControlName="fees" [(ngModel)]="student.current_monthly_fee" >
                       
                     </mat-form-field>
                   </div>
                   <div fxFlex="40">
                    <mat-form-field fxFlex="80">
                       <mat-select placeholder="Country" formControlName="country" [(ngModel)]="student.country">
                           <mat-option *ngFor="let country of countries" [value]="country.name">
                               {{country.name}}
                           </mat-option>
                       </mat-select>
                 </mat-form-field>
               </div>
               <div fxFlex="40">
                <mat-form-field fxFlex="80">
                    <mat-select placeholder="Class Sections" formControlName="class_section_id" [(ngModel)]="student.class_section_id">
                        <mat-option *ngFor="let classSection of classSectionResult" [value]="classSection.id">
                            {{classSection.school_class.class_name}}-{{classSection.section.section_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


                </div>


                 <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="40">   
                        <mat-form-field fxFlex="80">
                        <input matInput autocomplete="off" maxlength="255" placeholder="Email" formControlName="email" [(ngModel)]="student.email" >
                        <mat-error ng-show="horizontalStepperStep1Errors.first_name.required">
                          Enter Valid Email Address!
                      </mat-error>
                      </mat-form-field>
                      
                     </div>
                      <div fxFlex="40">
                      <mat-form-field fxFlex="80">
                        <input  autocomplete="off" matInput maxlength="255" placeholder="Mobile Number" formControlName="mobile" [(ngModel)]="student.mobile" >
                      </mat-form-field>
                    </div>
                    <div fxFlex="40">
                    <mat-form-field fxFlex="80">
                      <mat-select placeholder="Gender" formControlName="gender" [(ngModel)]="student.gender">
                        <mat-option *ngFor="let gender of genders" [value]="gender.value">
                          {{gender.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error ng-show="horizontalStepperStep1Errors.gender.required">
                        Gender is required!
                      </mat-error>
                    </mat-form-field>
                  </div>
                  </div>
                   
          
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                    
                    <div fxFlex="40">
                      <mat-form-field fxFlex="80">
                          <input autocomplete="off" matInput maxlength="255" placeholder="Roll No." formControlName="enrollment_number" [(ngModel)]="student.enrollment_number" required>
                          <mat-error ng-show="horizontalStepperStep1Errors.enrollment_number.required">
                              Roll Number is required!
                          </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="40">

                      <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                      <!-- #docregion toggle -->
                        <input matInput [matDatepicker]="picker"  placeholder="Date of Birth" formControlName="date_of_birth" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                       <mat-datepicker #picker></mat-datepicker>
                        <mat-error ng-show="horizontalStepperStep1Errors.date_of_birth.required">
                          Date of Birth is required!
                        </mat-error>
                      </mat-form-field>
                  </div>
                  <div fxFlex="40"> 
                  <mat-form-field fxFlex="80">
                      <input autocomplete="off" matInput maxlength="255" placeholder="Address" formControlName="address" [(ngModel)]="student.address"
                          required>
                      <mat-error ng-show="horizontalStepperStep1Errors.address.required">
                          Address is required!
                      </mat-error>
                  </mat-form-field>
                 </div></div>

                 <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep1.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep2">

                <form [formGroup]="horizontalStepperStep2">

                    <ng-template matStepLabel>Student Image</ng-template>

                    <div  class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Student Image </h2>
                    </div>
                    <div class="card" style="margin-bottom:10px">
                      <!-- PREVIEW -->
                      <div class="card-preview">
                          <div class="fuse-card" fxFlex="100">
                            <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="primary" mode="indeterminate"></mat-progress-bar>
                              <div class="image-preview" *ngIf="imagePreview != '' && imagePreview">
                                  <img [src]="imagePreview" [alt]="">
                              </div>

                              <div>
                              <button mat-stroked-button type="button" (click) = "filePicker.click()" >Pick Image 
                                  
                              </button>
                              <input type="file" #filePicker  (change)="uploadToS3($event)">
                              </div>
                              
                      </div>
                          
                      </div>
                      <!-- / PREVIEW -->
                  </div>




                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button [disabled] = "photoUpload"
                         mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep2.invalid">
                           
                          Next
                        </button>
                    </div>

                </form>
            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep3">

                <form [formGroup]="horizontalStepperStep3">
                    <ng-template matStepLabel>Parent Information</ng-template>
                    <div>
                      <div fxFlex="50">
                        <mat-slide-toggle [(ngModel)]="parentExist" formControlName="status"> Parent Exist Already</mat-slide-toggle> 
                      </div>
                      </div>
                    
                  <div *ngIf="parentExist == true">
                    <div>
                      <div fxFlex="50">
                        <mat-form-field fxFlex="46">
                          <mat-select placeholder="Select Parent" formControlName="fruitCtrl" (change) = "onChange()" [(ngModel)]="parentId">
                              <mat-option *ngFor="let parent of parents" [value]="parent.id">
                                  {{ parent.first_name }} {{ parent.last_name }}
                              </mat-option>
                          </mat-select>
                          </mat-form-field>
                         
                      </div>
                      </div>
                      <div>
                            <div fxFlex="50">
                              <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="First Name" formControlName="first_name" [(ngModel)]="parent.first_name" (keyup)="onKey($event)"
                                   readonly  autocomplete="off"   required>
        
                                <mat-error ng-show="horizontalStepperStep3Errors.first_name.required">
                                  First Name is required!
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="50">
                              <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="Last Name" formControlName="last_name" [(ngModel)]="parent.last_name" (keyup)="onKey($event)"
                                readonly  autocomplete="off"  required>
        
                                <mat-error ng-show="horizontalStepperStep3Errors.last_name.required">
                                  Last Name is required!
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
        
                          <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="25">
                              <mat-form-field fxFlex="92">
                                <mat-select placeholder="Gender" formControlName="gender" [(ngModel)]="parent.gender" readonly>
                                  <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                  </mat-option>
                                </mat-select>
                                <mat-error ng-show="horizontalStepperStep3Errors.gender.required">
                                  Gender is required!
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="25">
                            <mat-form-field fxFlex="92">
                              <input matInput maxlength="255" placeholder="Email"  formControlName="parentEmail" [(ngModel)]="parent.email" readonly>
                              <mat-error ng-show="horizontalStepperStep3Errors.parentEmail.required">
                                Enter Valid Email Address!
                            </mat-error>
                            </mat-form-field>
                          </div>
                            <div fxFlex="25">
                            <mat-form-field fxFlex="92">
                              <input matInput maxlength="255" placeholder="Mobile Number" formControlName="mobile" [(ngModel)]="parent.mobile" readonly>
                              <mat-error ng-show="horizontalStepperStep3Errors.mobile.required">
                                Mobile number is required!
                              </mat-error>
                            </mat-form-field>
                          </div>
                            <div fxFlex="25">
                              
                             </div>
        
                          </div>
        
                       
                  </div>
                  <div *ngIf="parentExist == false">
                    <div>
                      <div fxFlex="50">
                        <mat-form-field fxFlex="92">
                          <input autocomplete="off" matInput maxlength="255" placeholder="First Name" formControlName="first_name" [(ngModel)]="parent.first_name" (keyup)="onKey($event)"
                                 required>
  
                          <mat-error ng-show="horizontalStepperStep3Errors.first_name.required">
                            First Name is required!
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="50">
                        <mat-form-field fxFlex="92">
                          <input  autocomplete="off" matInput maxlength="255" placeholder="Last Name" formControlName="last_name" [(ngModel)]="parent.last_name" (keyup)="onKey($event)"
                                 required>
  
                          <mat-error ng-show="horizontalStepperStep3Errors.last_name.required">
                            Last Name is required!
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
  
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                      <div fxFlex="25">
                        <mat-form-field fxFlex="92">
                          <mat-select placeholder="Gender" formControlName="gender" [(ngModel)]="parent.gender">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                              {{gender.name}}
                            </mat-option>
                          </mat-select>
                          <mat-error ng-show="horizontalStepperStep3Errors.gender.required">
                            Gender is required!
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="25">
                      <mat-form-field fxFlex="92">
                        <input autocomplete="off" matInput maxlength="255" placeholder="Email"  formControlName="parentEmail" [(ngModel)]="parent.email" >
                        <mat-error ng-show="horizontalStepperStep3Errors.parentEmail.required">
                          Enter Valid Email Address!
                      </mat-error>
                      </mat-form-field>
                    </div>
                      <div fxFlex="25">
                      <mat-form-field fxFlex="92">
                        <input autocomplete="off" matInput maxlength="255" placeholder="Mobile Number" formControlName="mobile" [(ngModel)]="parent.mobile" >
                        <mat-error ng-show="horizontalStepperStep3Errors.mobile.required">
                          Mobile number is required!
                        </mat-error>
                      </mat-form-field>
                    </div>
                      <div fxFlex="25">
                        
                       </div>
  
                    </div>
  
                  </div>
                 

                  <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                   
                  </div>
                    

                      <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}"
                          mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()"
                           [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid || horizontalStepperStep3.invalid || button_disabled">
                            Finish
                        </button>
                    </div>
                   
                  
                </form>

            </mat-step>

        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->
