@import "src/@fuse/scss/fuse";

:host {
    width: 100%;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 40px;

           
        }
        .mat-column-icon {
            flex: 0 0 200px;
            width: 200px;
        }
        
    }
    
    
    
}
.timetableHeader span{
    font-size: 1.5em;

}
#d1{
    margin-bottom: 0 px !important;
    margin-right: 12px !important;
}
#d2{
    margin-bottom: 0px !important;
   
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    font-weight: normal;
}


// #mon{
//     padding-left: 3.5% ;
// }
// #tues{
//     padding-left: 6.5% ;
// }
// #wed{
//     padding-left: 8% ;
// }
// #thr{
//     padding-left: 8% ;
// }
// #fri{
//     padding-left: 8% ;
// }
// #sat{
//     padding-left: 10% ;
// }
// #sun{
//     padding-left: 9% ;
// } 

@media only screen and (max-width: 1658px) { 
    .timetableHeader span{
        font-size: 1.5em;
    
    }
    /* Here are some changes*/
    #mon{
        padding-left: 3% !important;
    }
    #tues{
        padding-left: 7.5% !important;
    }
    #wed{
        padding-left: 7.5% !important;
    }
    #thr{
        padding-left: 6.5% !important;
    }
    #fri{
        padding-left: 7% !important;
    }
    #sat{
        padding-left: 8% !important;
    }
    #sun{
        padding-left: 8% !important;
    }

}
@media only screen and (max-width: 1450px ) { 
    .timetableHeader span{
        font-size: 1.5em;
    
    }
    /* Here are some changes*/
    #mon{
        padding-left: 2% !important;
    }
    #tues{
        padding-left: 7% !important;
    }
    #wed{
        padding-left: 6% !important;
    }
    #thr{
        padding-left: 6% !important;
    }
    #fri{
        padding-left: 6.5% !important;
    }
    #sat{
        padding-left: 6.5% !important;
    }
    #sun{
        padding-left: 6.5% !important;
    }
    #d1{
        margin-bottom: 0 px !important;
    }
    #d2{
        margin-bottom: 0px !important;
       
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin: 0 !important;
        font-weight: lighter !important;
    }
    h2{
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h3{
        display: block;
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    


}

