<mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="primary" mode="indeterminate"></mat-progress-bar>

<div fxLayout="row" fxLayoutAlign="end center">

  <button  mat-raised-button (click)="onSubmit()" class="save-button mat-accent" style="background-color: #f9a825;"
       aria-label="SAVE">
      SAVE CHANGES
  </button>

</div>
<br>
<div class="timetableHeader">
  <span  id="mon">
    <b>Monday</b>
  </span>
  <span  id="tues">  
    <b>Tuesday</b>
  </span>
  <span  id = "wed" >
    <b>Wednesday</b>
  </span>
  <span id="thr" >
    <b>Thursday</b>
  </span>
  <span id= "fri" >
    <b>Friday</b>
  </span>
  <span id="sat" >
    <b>Saturday</b>
  </span>
  <span id="sun" >
    <b>Sunday</b>
  </span>
</div>

<gridster style="background-color:#3e3d3d " [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard" class="gridster-item" style="background-color: #0f296d;">
    <div style="text-align: center;">
      <button style="float:left " (mousedown)="openDialogueBox(item.x,item.y, course_section,className,
      item.data.section_course_id,item.data.section_course_teacher, 
      item.data.start_time, item.data.end_time,item.data.id,item.data.section_course_name)" >
        <mat-icon>edit</mat-icon>
      </button>
      

      
    </div>

    
    <div style="text-align: center;color: white">
      <br>
      <h2 style="color: white" id="d1">{{item.data.section_course_name}}</h2>
      <h3 style="color: white" id="d2">{{item.data.section_course_teacher}}</h3>
         {{item.data.start_time}} 
      </div>
      <div style="text-align: center;color: white" id="d2" >to</div>
      <div style="text-align: center;color: white" id="d2">
           {{item.data.end_time}}  
        </div>
  

  </gridster-item>
</gridster>
