<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">
<br>
    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" >
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

   <!-- Code Column -->
   <div>
    <ng-container cdkColumnDef="student_name">
        <mat-header-cell *cdkHeaderCellDef fxFlex="100px">Student Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="100px" > {{row.student.first_name}} {{row.student.last_name}} </mat-cell>
    </ng-container>
    </div>
    <div>
    <ng-container cdkColumnDef="class_section">
        <mat-header-cell *cdkHeaderCellDef fxFlex="100px">Class Section</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="100px" >
             {{row.student.class_section.school_class.class_name}} 
             {{row.student.class_section.section.section_name}} </mat-cell>
    </ng-container>
    </div>
    <div>
    <ng-container cdkColumnDef="subject">
        <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Subject</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="150px" > {{row.subject}} </mat-cell>
    </ng-container>
    </div>
    
    <div>
    <ng-container cdkColumnDef="info">
        <mat-header-cell *cdkHeaderCellDef fxFlex="250px">Reason</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="250px" > {{row.leave_reason}} </mat-cell>
    </ng-container>
    </div>    

    <div>
    <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef fxFlex="100px">Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="100px" > {{row.leave_status}} </mat-cell>
    </ng-container>
    </div>
    <div>
        <ng-container cdkColumnDef="date">
            <mat-header-cell *cdkHeaderCellDef fxFlex="100px">Time Period</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="100px" > 
                <p>From</p>
                <p> 
                    {{row.start_date}}
                </p>
                <p>to</p>
                <p> 
                    {{row.end_date}}
                </p>
             </mat-cell>
        </ng-container>
        </div>
    <div>
        <ng-container cdkColumnDef="image">
            <mat-header-cell *cdkHeaderCellDef fxFlex="10%">Image</mat-header-cell>
            
            <mat-cell *cdkCellDef="let row" fxFlex="10%" > 
                <button button mat-raised-button color="primary" (click)=" onSelect(row,1)">Download</button>    
            </mat-cell>
        </ng-container>
    </div>    

    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
