<!-- SIDENAV HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="logo-icon mr-16">filter_list</mat-icon>
      <span class="logo-text h1">Filtering Options</span>
    </div>
  
  </div>
  <!-- / SIDENAV HEADER -->
  
  <!-- SIDENAV CONTENT -->
  <div class="content py-16" fusePerfectScrollbar>
  
    <div class="nav">
  
      <div class="example-container">
  
        <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" >
  
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Select Filtering Option</mat-label>
                <mat-select [(ngModel)] = "filterVal" (change)= "onChange()" name="select">
                  <mat-option *ngFor="let filter of filters" [value]="filter.value">
                    {{filter.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
              
              
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Input here"  (change)= "onChange()" aria-label="Number" matInput 
            [(ngModel)] = "searchBox" name="searchBox">
          </mat-form-field>  
  
          <br>
          <br>
  
          <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Apply Filter" (click)="filter()"
           >
            Apply Filter
          </button>
          <br>
          <button type="submit" mat-raised-button color="warn" class="submit-button" aria-label="Apply Filter" (click)="discardFilter()"
          >
           Discard Filter
         </button>
  
        </form>
  
      </div>
  
    </div>
  
  </div>
  <!-- / SIDENAV CONTENT -->