<!-- SIDENAV HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="logo-icon mr-16">filter_list</mat-icon>
      <span class="logo-text h1">Filtering Options</span>
    </div>
  
  </div>
  <!-- / SIDENAV HEADER -->
  
  <!-- SIDENAV CONTENT -->
  <div class="content py-16" fusePerfectScrollbar>
  
    <div class="nav">
  
      <div class="example-container">
  
        <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
  
        
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Select Class Section</mat-label>
            <mat-select [(ngModel)] = "filterClass" formControlName= "ClassSelector" (change)= "onChange()" name="select">
              <mat-option *ngFor="let filter of ClassSection" [value]="filter.id">
               {{filter.school_class?.class_name}} {{filter.section?.section_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
         
         
  
          <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Apply Filter" (click)="filter()"
           >
            Apply Filter
          </button>
  
        </form>
  
      </div>
  
    </div>
  
  </div>
  <!-- / SIDENAV CONTENT -->