<br><mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" (click)="onSelect(row)">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container cdkColumnDef="teacher_id">
        <mat-header-cell *cdkHeaderCellDef fxFlex="60px">Teacher ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="60px" (click)="onSelect(row)"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container cdkColumnDef="teacher_name">
        <mat-header-cell *cdkHeaderCellDef fxFlex="120px">Teacher Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="120px" (click)="onSelect(row)"> {{row.first_name}} {{row.last_name}} </mat-cell>
    </ng-container>

    <!-- Merchant Name Column -->
    <ng-container cdkColumnDef="mobile">
        <mat-header-cell *cdkHeaderCellDef style="text-align: center;" fxFlex="200px">Mobile</mat-header-cell>
        <mat-cell *cdkCellDef="let row" (click)="onSelect(row)" style="text-align: center;" fxFlex="200px"> {{row.mobile}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container cdkColumnDef="Email">
        <mat-header-cell style="text-align: center;" fxFlex="200px" *cdkHeaderCellDef>Email</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="text-align: center;" fxFlex="200px" (click)="onSelect(row)"> {{row.email}} </mat-cell>
    </ng-container>

    <!-- Revenue Column -->
    <ng-container cdkColumnDef="class_teacher">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align: center;">Class Teacher</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" style="text-align: center;" >  
            <div *ngIf="row.class_section != null">
                YES
            </div>
            <div *ngIf="row.class_section == null">
                NO
            </div>
   </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="ct_class">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CT Class</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)">
        <div *ngIf="row.information.is_class_teacher == FALSE">
            N/A
         </div>
         <div *ngIf="row.class_section != null">
             {{row.class_section.school_class.class_name}}-{{row.class_section.section.section_name}}
         </div>
         <div *ngIf="row.class_section == null && row.information.is_class_teacher != FALSE">
            Unassigned
        </div>
        </mat-cell>
        </ng-container>


    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openFacultyEdit($event,row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button>

                    <!-- <button mat-menu-item (click)="deleteFaculty($event,row.id)">
                        <mat-icon>Delete</mat-icon>
                        <span>Delete</span>
                    </button> -->

                </mat-menu>

            </div>
        </mat-cell>
    </ng-container>




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
