<br>
<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" >
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container cdkColumnDef="subject">
        <mat-header-cell *cdkHeaderCellDef fxFlex="250px">Subject</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="250px" > {{row.subject}}</mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container cdkColumnDef="information">
        <mat-header-cell *cdkHeaderCellDef fxFlex="350px">Information</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="350px" > 
            <div [innerHtml]="row.notice_info">
            </div>
        </mat-cell>
    </ng-container>

    <div>
        <ng-container cdkColumnDef="image">
            <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Image</mat-header-cell>
            
            <mat-cell *cdkCellDef="let row" fxFlex="150px" > 
                <button button mat-raised-button color="primary" (click)=" onSelect(row,1)">Download</button>    
            </mat-cell>
        </ng-container>
    </div>
    <div>
        <ng-container cdkColumnDef="link">
            <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Document</mat-header-cell>
            
            <mat-cell *cdkCellDef="let row" fxFlex="150px" > 
                <button button mat-raised-button color="primary" (click)=" onSelect(row,2)">Download</button>    
            </mat-cell>
        </ng-container>
        </div>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
