<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Update Class </div>
            <br>

            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                    <mat-form-field fxFlex="92">
                        <input  autocomplete="off" matInput maxlength="255" placeholder="Class Name" [(ngModel)]="classes.school_class.class_name " formControlName="className" readonly required
                           >
                        </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field fxFlex="92">
                        <input autocomplete="off" matInput maxlength="255" placeholder="Section Name" [(ngModel)]="classes.section.section_name" formControlName="sectionName" readonly required
                           >
                        </mat-form-field>
                </div>

                
                
            </div>
            <br>
            <div formArrayName="sections">
                <div *ngFor="let section of classes.section_courses; let i = index">

                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="20">
                                <input autocomplete="off" matInput maxlength="255" placeholder="Course Name" formControlName="course_name" required readonly
                                    [(ngModel)]="section.course.course_name">
                                
                            </mat-form-field>
                            <mat-form-field fxFlex="46">
                                <mat-select placeholder="Course Teacher" formControlName="faculty"  [(ngModel)]="section.course_teacher.id">
                                    <mat-option *ngFor="let teacher of teachers" [value]="teacher.information.id">
                                        {{teacher.first_name}} {{teacher.last_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                                       
                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>

           


            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="ADD MERCHANT CATEGORY"
                     [disabled]="form.invalid || button_disabled">
                    ASSIGN
                </button>


            </div>

        </form>

    </div>