<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">
<br>
    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" >
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <div>
    <ng-container cdkColumnDef="Class Section">
        <mat-header-cell *cdkHeaderCellDef fxFlex="200px">Class Section</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="200px" > 
            {{row.section_course.class_section.school_class.class_name}} 
            {{row.section_course.class_section.section.section_name}}</mat-cell>
    </ng-container>
    </div>
    <div>
        <ng-container cdkColumnDef="Course">
            <mat-header-cell *cdkHeaderCellDef fxFlex="200px">Course Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="200px" > 
                {{row.section_course.course.course_name}}</mat-cell>
        </ng-container>
        </div>
    <div>
        <ng-container cdkColumnDef="Created By">
            <mat-header-cell *cdkHeaderCellDef fxFlex="200px">Created By</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="200px" > {{row.faculty.faculty_name}} </mat-cell>
        </ng-container>
        </div>
    <div>
        <ng-container cdkColumnDef="Link">
            <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Link</mat-header-cell>
            
            <mat-cell *cdkCellDef="let row" fxFlex="150px" > 
                <button button mat-raised-button color="primary" (click)=" onSelect(row)">Download</button>    
            </mat-cell>
        </ng-container>
        </div>
<!-- Code Column -->
   

    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
