@import "src/@fuse/scss/fuse";

:host {
    width: 100%;
    .auto-width{
        .mat-form-field {
            width: auto !important;
            min-width:180px !important;
        }
        .mat-select-value {
            max-width: 100%;
            width: auto;
        }  
    }
    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
    mat-cell.mat-cell, mat-header-cell.mat-header-cell {
        overflow: visible; 
    }

    mat-expansion-panel, mat-expansion-panel-header{
        overflow:visible
    }
    mat-panel-title{
        overflow:visible
    }
    .image-preview {
        height: 30rem;
        margin: 1rem 0;
    }
    .image-preview img {
        height: 100%;
        text-align: center;

    }
    input[type="file"]{
        visibility: hidden;
    }
    .example-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .mat-form-field.mat-form-field-type-mat-select {
          width: 90px !important;
      }
      .example-container > * {
        width: 100%;
      }

      .mat-spinner {
        align:center;
      }

}
