<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template> 
                    <div fxLayout="row" fxLayoutAlign="start center" >
                        <div class="auto-width">
                        <mat-form-field appearance="fill" >
                            <mat-label>Privacy</mat-label>
                            <mat-select [(ngModel)]="selectedPrivacy" formControlName="PrivacySelector" (change)="onChangePrivacy()" name="PrivacySelector">
                                <mat-option *ngFor="let privacy of privacies" [value]="privacy.value">
                                {{privacy.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>     
                    <div *ngIf="selectedPrivacy == privacy2">
                    <div fxLayout="row" fxLayoutAlign="start center" >
                    <div class="auto-width">
                        <mat-form-field appearance="fill" >
                            <mat-label>select Student</mat-label>
                            
                            <mat-select [(ngModel)]="id" formControlName="StudentSelector" (change)="onChange()" name="StudentSelector">
                                <mat-option *ngFor="let student of students" [value]="student.id">
                                {{student.first_name}} {{student.last_name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                        </div>        
                    </div>
                    <div *ngIf="selectedPrivacy == privacy3">
                        <div fxLayout="row" fxLayoutAlign="start center" >
                            <div class="auto-width"> 
                            <mat-form-field appearance="fill" >
                                <mat-label>select Class Section</mat-label>
                                <mat-select [(ngModel)]="id" formControlName="ClassSelector" (change)="onChange()" name="ClassSelector">
                                    <mat-option *ngFor="let class of ClassSectionResult" [value]="class.id">
                                    {{class.school_class.class_name}} {{class.section.section_name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field></div>
                        </div>        
                     </div>
                    <div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input  autocomplete="off" matInput maxlength="255" placeholder="Subject" formControlName="subject" [(ngModel)] = "subject" required> 

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                  Subject is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <!-- <mat-form-field fxFlex="92">
                                <input autocomplete="off" matInput maxlength="255" placeholder="Information" formControlName="information" [(ngModel)] = "info" required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    Information is required!
                                </mat-error>
                            </mat-form-field>
                            -->
                        </div>    </div>
                        <br>
                        <div fxLayout="row" fxLayoutAlign="start center" >
                            <ckeditor  [editor]="Editor"(change)="onChangeR($event)" formControlName ="information" name ="information" ></ckeditor>
                            
                        </div>  
                      
                   <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                     <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep1.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep2">

                <form [formGroup]="horizontalStepperStep2">

                    <ng-template matStepLabel>Picture</ng-template>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Picture </h2>
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <!-- FULL DESKTOP IMAGE CARD -->
                        <div class="card" style="margin-bottom:10px">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="primary" mode="indeterminate"></mat-progress-bar>
                                <div class="fuse-card" fxFlex="100">
                                    <div class="image-preview" *ngIf="imagePreview != '' && imagePreview" >
                                        <img [src]="imagePreview" [alt]="">
                                    </div>

                                    <div>
                                    <button mat-stroked-button type="button" style="margin-left: 250px;" (click) = "filePicker.click()" >Pick Image 
                                        
                                    </button>
                                    <input type="file" #filePicker  (change)="uploadToS3($event)">
                                    </div>
                                    
                            </div>
                          
                            </div>
                            <!-- / PREVIEW -->
                        </div>
                        <!-- / FULL DESKTOP IMAGE CARD  -->
                    </div>

              

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" 
                            mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()"
                             [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid || photoUpload || button_disabled">
                            Finish
                        </button>
                    </div>

                </form>
            </mat-step>


        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->