<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">
<br>
    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <div>
    <ng-container cdkColumnDef="class_section">
        <mat-header-cell *cdkHeaderCellDef fxFlex="175px">Class Section</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="175px">
             {{row.section_course.class_section.school_class.class_name}}
             {{row.section_course.class_section.section.section_name}}
             </mat-cell>
    </ng-container>
    </div>
    <div>
        <ng-container cdkColumnDef="subject">
            <mat-header-cell *cdkHeaderCellDef fxFlex="175px">Course Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="175px">
                {{row.section_course.course.course_name}} </mat-cell>
        </ng-container>
        </div>
    
    <div>
        <ng-container cdkColumnDef="issued_by">
            <mat-header-cell *cdkHeaderCellDef fxFlex="175px">Issued_By</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="175px" >
                {{row.section_course.course_teacher_name}} </mat-cell>
        </ng-container>
        </div>
    <div>
        <ng-container cdkColumnDef="category">
            <mat-header-cell *cdkHeaderCellDef fxFlex="100px">Exam Type</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="100px"> {{row.result_category.category_name}} </mat-cell>
        </ng-container>
        </div>
        <div>
            <ng-container cdkColumnDef="details">
                <mat-header-cell *cdkHeaderCellDef fxFlex="170px">Details</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxFlex="170px"> {{row.result_details}} </mat-cell>
            </ng-container>
            </div>
                                        
    <!-- Code Column -->
   
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-button (click)="openDialog(row.student_results)">Open Result</button>
           </div>
        </mat-cell>
    </ng-container>


    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
