<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" (click)="onSelect(row)">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <div>
        <ng-container cdkColumnDef="Student_Name">
        <mat-header-cell style="text-align: center;" *cdkHeaderCellDef>Student Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="width:200px;text-align: center; height:20px; overflow:hidden" (click)="onSelect(row)">{{row.student_name}}</mat-cell> 
    </ng-container>

    </div>

    <!-- Code Column -->
    <div>
    <ng-container cdkColumnDef="Month">
        <mat-header-cell *cdkHeaderCellDef fxFlex="120px">Month</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="120px" (click)="onSelect(row)"> {{row.fees_month}}</mat-cell>
    </ng-container>
    </div>
    <div>
    <!-- Merchant Name Column -->
    <ng-container cdkColumnDef="Due_Date">
        <mat-header-cell *cdkHeaderCellDef>Due Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" (click)="onSelect(row)"> {{row.due_date}} </mat-cell>
    </ng-container>
    </div>
    <!-- Title Column -->
    <div>
        <ng-container cdkColumnDef="Amount">
            <mat-header-cell *cdkHeaderCellDef fxFlex="60px">Amount</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="60px" (click)="onSelect(row)">{{row.amount}}</mat-cell>
        </ng-container>
        </div>
    
    <div>
        <ng-container cdkColumnDef="Status">
        <mat-header-cell style="text-align: center;" *cdkHeaderCellDef>Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="text-align: center; overflow:hidden;" (click)="onSelect(row)"> {{row.payment_status}} </mat-cell> 
    </ng-container>

    </div>
    
 
 

    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openFeesEdit($event,row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button> 
                    <button mat-menu-item (click)="updateStatus($event,row.id,1)">
                        <mat-icon>edit</mat-icon>
                        <span>Update Status to Paid</span>
                    </button>
                    <button mat-menu-item (click)="updateStatus($event,row.id,2)">
                        <mat-icon>edit</mat-icon>
                        <span>Update Status to Pending</span>
                    </button>
                    <button mat-menu-item (click)="updateStatus($event,row.id,3)">
                        <mat-icon>edit</mat-icon>
                        <span>Update Status to Defaulter</span>
                    </button>                    
                </mat-menu>
               
            </div>
        </mat-cell>
    </ng-container>


    




    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
