<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>

                    <div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input autocomplete="off" matInput maxlength="255" placeholder="First Name" formControlName="first_name" [(ngModel)]="faculty.first_name" 
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    First Name is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input autocomplete="off" matInput maxlength="255" placeholder="Last Name" formControlName="last_name" [(ngModel)]="faculty.last_name"
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    Last Name is required!
                                </mat-error>
                            </mat-form-field>
                        </div>    </div>
<br>
                        <div>
                      

                    </div>
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                         <div fxFlex="35">   
                        <mat-form-field fxFlex="92">
                            <mat-select  placeholder="Country" formControlName="country" [(ngModel)]="faculty.country" required>
                                <mat-option *ngFor="let country of countries" [value]="country.name">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error ng-show="horizontalStepperStep1Errors.country.required">
                                Country is required!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="35">   
                        <mat-form-field fxFlex="92">
                            <mat-select placeholder="City" formControlName="city" [(ngModel)]="faculty.city" required>
                                <mat-option *ngFor="let city of cities" [value]="city.name">
                                    {{city.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error ng-show="horizontalStepperStep1Errors.country.required">
                                Country is required!
                            </mat-error>
                        </mat-form-field></div>
                        <div fxFlex="35">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Gender" formControlName="gender" [(ngModel)]="faculty.gender">
                                    <mat-option *ngFor="let gender of genderlist" [value]="gender.code">
                                        {{gender.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                 
                       </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input  autocomplete="off" matInput maxlength="255" placeholder="Mobile" formControlName="mobile" [(ngModel)]="faculty.mobile" required>
                                <mat-error ng-show="horizontalStepperStep1Errors.alias.required">
                                    Mobile is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field fxFlex="50">
                            <input matInput autocomplete="off" maxlength="255" placeholder="Email" formControlName="email" [(ngModel)]="faculty.email" required>
                            <mat-error ng-show="horizontalStepperStep1Errors.title.required">
                               Email is required!
                            </mat-error>
                        </mat-form-field>

                    </div>


                    <!-- <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="50" formControlName="classteacher" labelPosition="after" style="position: relative; float:right" [(ngModel)]="faculty.classteacher">
                            Class Teacher
                        </mat-slide-toggle>

                        <div fxFlex="50">
                            
                        </div>

                    </div> -->


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep1.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep2">

                <form [formGroup]="horizontalStepperStep2">

                    <ng-template matStepLabel>Picture</ng-template>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Picture </h2>
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <!-- FULL DESKTOP IMAGE CARD -->
                        <div class="card" style="margin-bottom:10px">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="primary" mode="indeterminate"></mat-progress-bar>
                                   <div class="image-preview" *ngIf="imagePreview != '' && imagePreview">
                                        <img [src]="imagePreview" [alt]="">
                                    </div>

                                    <div>
                                    <button mat-stroked-button type="button" (click) = "filePicker.click()" >Pick Image 
                                        
                                    </button>
                                    <input type="file" #filePicker  (change)="uploadToS3($event)">
                                    </div>
                                    
                            </div>
                                
                            </div>
                            <!-- / PREVIEW -->
                        </div>
                        <!-- / FULL DESKTOP IMAGE CARD  -->
                    </div>

              

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}"
                         mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" 
                            [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid || photoUpload || button_disabled ">
                            Finish
                        </button>
                    </div>

                </form>
            </mat-step>


        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->