<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0" style="height:104px">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button" (click)="closeDialog('cancel')" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="testwrapper">

        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar style="padding-top:0px !important" style="width: 100%;">

            <form name="slotForm" [formGroup]="slotForm" class="event-form w-100-p" fxLayout="column" fxFlex>


                <div class="" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                
                    <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput placeholder="Class-Sec" formControlName="class_section" [(ngModel)]="data.class" readonly>
                        </mat-form-field>
                   
                </div>
                <div class="" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                
                    <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput  placeholder="Start time" type="time"  
                        formControlName="start_time" [(ngModel)]="slot.start_time" atp-time-picker  >
                      
                    </mat-form-field>
                    <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput  placeholder="End Time" formControlName="end_time" type="time" atp-time-picker  [(ngModel)]="slot.end_time" >
                    </mat-form-field>
                  
                </div>
                <div class="" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                
                    <mat-form-field class="mr-sm-24" fxFlex>
                        <mat-select placeholder="Select Course" formControlName="course_name"  [(ngModel)]="slot.section_course_id" (change)="onChange()"  >
                            <mat-option *ngFor="let course of data.data.section_courses" [value]="course.id" >
                                {{course.course.course_name}}
                            </mat-option>
                            </mat-select>     
                        
                    </mat-form-field>
                    <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput  placeholder="Course Teacher" formControlName="course_teacher" [(ngModel)]="slot.section_course_teacher" readonly>
                    </mat-form-field>
                  
                </div>


                <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" style="padding-bottom:0px !important">

                </div>
            </form>

        </div>

        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

            <button  mat-raised-button (click)="closeDialog(buttonAction)" class="save-button mat-accent"
                [disabled]="btndisable" aria-label="SAVE">
                SAVE
            </button>

            
        </div>






    </div>
</div>