<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>

                    <div>
                    
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input autocomplete="off" matInput maxlength="255" placeholder="Result Category Name" formControlName="Course_Name" [(ngModel)]="result_category.category_name" 
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    Category Name is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        </div>
                        
<br/>
                       
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()"
                             [disabled]="horizontalStepperStep1.invalid || button_disabled ">
                            SAVE
                        </button>
                    </div>

                </form>

            </mat-step>


        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->