<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>

                    <div>
                    
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input autocomplete="off" matInput maxlength="255" placeholder="Event_Name" formControlName="Event_Name" [(ngModel)]="events.event_name" 
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    Event Name is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input autocomplete="off" matInput type="date" placeholder="Date" formControlName="Event_Date" [(ngModel)]="events.event_date"
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    date is required!
                                </mat-error>
                            </mat-form-field>
                        </div>    </div>
<br/>                   <div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput  autocomplete="off" maxlength="255" placeholder="Event_Description" formControlName="Event_Description" [(ngModel)]="events.description" 
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    description is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input  autocomplete="off" matInput maxlength="255" placeholder="event_location" formControlName="Event_Location" [(ngModel)]="events.location" 
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    location is required!
                                </mat-error>
                            </mat-form-field>
                        </div></div>
                        
<br/>
                       
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep1.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep2">

                <form [formGroup]="horizontalStepperStep2">

                    <ng-template matStepLabel>Picture</ng-template>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Picture </h2>
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <!-- FULL DESKTOP IMAGE CARD -->
                        <div class="card" style="margin-bottom:10px">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="primary" mode="indeterminate"></mat-progress-bar>
                                    <div class="image-preview" *ngIf="imagePreview != '' && imagePreview">
                                        <img [src]="imagePreview" [alt]="">
                                    </div>

                                    <div>
                                    <button mat-stroked-button type="button" (click) = "filePicker.click()" >Pick Image 
                                        
                                    </button>
                                    <input type="file" #filePicker  (change)="uploadToS3($event)">
                                    </div>
                                    
                            </div>
                                
                            </div>
                            <!-- / PREVIEW -->
                        </div>
                        <!-- / FULL DESKTOP IMAGE CARD  -->
                    </div>
                    
<br/>
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}"
                         mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" 
                            [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid || photoUpload || button_disabled ">
                            Finish
                        </button>
                    </div>

                </form>
            </mat-step>


        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->