<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Update Class </div>
            <br>

            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                    <mat-form-field fxFlex="92">
                        <input autocomplete="off" matInput maxlength="255" placeholder="Class Name" [(ngModel)]="classes.school_class.class_name" formControlName="className" required
                           >
                        </mat-form-field>
                </div>


                
            </div>

            <br>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button" mat-button="" mat-raised-button color="basic" class="mat-button" (click)="addNewSections()">
                    <span class="mat-button-wrapper">Add Sections</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <br>

            <div formArrayName="sections">
                <div *ngFor="let section of classes.class_sections; let i = index">

                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="20">
                                <input autocomplete="off" matInput maxlength="255" placeholder="Section Name" formControlName="section_name" required 
                                    [(ngModel)]="section.section.section_name">
                                
                            </mat-form-field>
                            <mat-form-field fxFlex="46">
                               

                                <mat-select placeholder="Class Teacher" formControlName="faculty" required [(ngModel)]="section?.faculty.id">
                                    <mat-option *ngFor="let teacher of teachers" [value]="teacher.information.id">
                                        {{teacher?.first_name}} {{teacher?.last_name}}
                                    </mat-option>
                                </mat-select>
                                
                               
                                  
                                </mat-form-field>
                        

                            <div *ngIf="!section.id">
                            <button type="button" mat-button color="warn" class="mat-button mat-warn" (click)="deleteSections(i)">Remove
                            </button>
                        </div> 
                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>


            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button" mat-button="" mat-raised-button color="basic" class="mat-button" (click)="addNewCourses()">
                    <span class="mat-button-wrapper">Add Courses</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <br>

            <div formArrayName="coursesForm">
                <div *ngFor="let courseOb of classes.courses; let i = index">

                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="46">

                                <mat-select placeholder="Courses" formControlName="course_name" required [(ngModel)]="courseOb?.course.id">
                                    <mat-option *ngFor="let Course of courses" [value]="Course.id">
                                        {{Course?.course_name}} 
                                      </mat-option>
                                </mat-select>
                                
                               
                                  
                                </mat-form-field>
                        

                        <div *ngIf="!courseOb.id">
                            <button type="button" mat-button color="warn" class="mat-button mat-warn" (click)="deleteCourses(i)">Remove
                            </button>
                        </div>
                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>



            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent"
                    class="submit-button" aria-label="ADD MERCHANT CATEGORY" 
                    [disabled]="form.invalid || button_disabled">
                    UPDATE Classes
                </button>


            </div>

        </form>

    </div>