<h2 mat-dialog-title>Result</h2>
<mat-dialog-content class="mat-typography">
<table style="width:100%">
    <tr>
        <th>Student Name</th>
        <th>Marks Obtained</th>
        <th>Total Marks</th>
        <th>Attendance Status</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let item of data.obj" >
        <td>{{item.student.first_name}} {{item.student.last_name}}</td>
        <td>{{item.marks_obtained}}</td>
        <td>{{item.total_marks}}</td>
        <td>{{item.student_attendance}}</td>
        <td>{{item.result_details}}</td>
    </tr>
    
</table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>