//@import "src/@fuse/scss/fuse";
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
// .event-form-dialog {

//     @include media-breakpoint('xs') {
//         width: 100%;
//     }

//     @include media-breakpoint-up('xs') {
//         width: 480px;
//     }

//     .mat-dialog-container {
//         padding: 0;
//     }

//     .dialog-content-wrapper {
//         max-height: 85vh;
//         display: flex;
//         flex-direction: column;
//     }

//     .primary-color-input,
//     .secondary-color-input {
//         padding: 6px 8px;
//     }

 
// }

// .testwrapper {display: flex;
   
//     flex-direction: column;}
