@import "src/@fuse/scss/fuse";
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mainLoginInput{
  height: 30px;
  padding: 0px;
  font-size: large;
  margin: 5px 0;
}
::ng-deep .mat-list .mat-list-item .mat-line{
    word-wrap: break-word;
   white-space: pre-wrap;
 }

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
font-size: large;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: white;
background-color: #232837;
}


#dashboard-analytics {
    background-color: #3e3d3d !important;
    .main-widget {
        display: flex;
        flex-direction: column;
    }
    .RoundBorder {
        border: 2px solid !important;
        border-radius: 25px !important;
       
    }
    .mat-list .mat-list-item.mat-2-line, .mat-list .mat-list-option.mat-2-line, .mat-nav-list .mat-list-item.mat-2-line, .mat-nav-list .mat-list-option.mat-2-line, .mat-selection-list .mat-list-item.mat-2-line, .mat-selection-list .mat-list-option.mat-2-line {
        height: 72px;
        word-wrap: break-word !important;
    }
    .event {
        flex-grow: 1;
        max-height: 400px;
        border: 3px solid #454545;
        overflow: auto;
    }

    .First{
        background-color: blue;
    }
    .Second{
        background-color: pink;
    }
    .Third{
        background-color: yellow;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
     
    .active-pink-4 input[type=text] {
        border: 1px solid gray;
        box-shadow: 0 0 0 1p grey;
        width: 670px;
        height: 30px;
        
      }
      .script-menu >::ng-deep .mat-figure{
        justify-content: flex-start;
    }
      .grid-list-icon{
        transform: scale(2);
        }
    .grid-para{
        padding-left: 10px;
        margin-left: 20px;
    }
    .notice {
        flex-grow: 1;
        max-height: 368px;
        overflow-y: auto;
        overflow-x: auto;
        white-space: initial;
        
        
    }
    .not-empty-select.mat-selected {
        color: white !important;
      }
      
    :host /deep/ .mat-select-value-text {
        color: white !important;
      }
    ::ng-deep .mat-select-value{    
        color: white!important;  }
    .contacts {
        flex-grow: 1;
        max-height: 300px;
        overflow: auto;
        background-color: #232837;
    }
   
    .fees-detail{
        flex-grow: 1;
     max-height: 325px;
       overflow: auto;
    }
    input[type=text] {

       -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        width: 100% !important;
      }
      
      /* When the input field gets focus, change its width to 100% */
      
    .demo{
        
        overflow-x: auto;
    }
    .content {
        display: flex;
        flex: 1 1 auto;
        padding-left: 32px;
        padding-right: 32px;
        min-width: 0;
        @include media-breakpoint-down('md') {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }
        
        
        /* Styles for the active tab label */
        .mat-tab-label.mat-tab-label-active {
            min-width: 25px !important;
            padding: 5px;
            background-color: transparent;
            color: #e91e63;
            font-weight: 700;
        }
        .mat-tab-label.mat-tab-label {
            min-width: 25px !important;
            padding: 5px;
            background-color: transparent;
            color: white;
            font-weight: 700;
        }
        /* Styles for the ink bar */
        .mat-ink-bar {
            background-color: #f9a825;
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;

            @include media-breakpoint-down('md') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }
        }
    }

}
