<div id="dashboard-analytics" class="page-layout blank grey-100-bg" fusePerfectScrollbar>

    <div class="main-widget">

        <!-- <div class="position-relative p-24" style="background-color: #3e3d3d;  color: white;"
             fxLayout="row" fxLayoutAlign="space-between center">
             <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="row" fxLayoutAlign="end start">
                    <span class="h5 secondary-text" style="color: white;">{{monthName}}</span>
                </div>
                <div class="py-8 px-12 border-radius-5 line-height-1 mr-8 cursor-pointer"
                    
                     [ngClass]="{'blue-300-bg': widget1SelectedYear === '2015'}">
                     
                </div>

                <div class="py-8 px-12 border-radius-5 line-height-1 mr-8 cursor-pointer">
                    <button>{{monthName.name}}</button>
                </div>
                
                
            </div>
        </div> -->
        <div class="position-relative p-24" style="padding : 0px !important; height: 200px;" >
        <ngx-charts-number-card
            [scheme]="colorScheme"
            [results]="single"
            [cardColor]="cardColor"> 
        </ngx-charts-number-card> </div>

        <!-- <div class="position-relative h-256" style="background-color: #3e3d3d; color: white;">
            <ngx-charts-polar-chart
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [results]="multi"
            (select)="onSelect($event)">
         </ngx-charts-polar-chart>
        </div> -->

    </div>

    <div class="content">

        <div class="left mr-32">

            
            <!-- <div class="pb-24 font-size-18 font-weight-300">
                What is the attendance statistics today?
            </div> -->
           
            <div class="fuse-card auto-width" >
                <div class="p-16" fxLayout="row" fxLayoutAlign="center center" style="background-color: #0f296d;  margin: 0;
                padding: 0 !important;">
                    <div class="h1 pr-16" style="color:white;" >New Registrations by month</div>
                    <mat-icon style="color:white;">how_to_reg</mat-icon>
                    <mat-form-field appearance="fill" style="margin-left: 80px;">
                        <mat-select  [(ngModel)]="selectedMonth" (change)="onChange()" >
                            <mat-option  *ngFor="let month of registrationByMonths" [value]="month.value">
                                {{month.name}}
                            </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="position-relative h-368 pb-16" style="background-color: #232837; color: white;">
                    <ngx-charts-advanced-pie-chart
                    *fuseIfOnDom
                    [scheme]="widget7.scheme"
                    [results]="registrationStats">
                    </ngx-charts-advanced-pie-chart>
                  
                  
           </div>
           </div>
           <br>
            
           

            <!-- Widget 5 -->
            <!-- <div class="pt-48 pb-24 font-size-18 font-weight-300">
                New Notices being posted
            </div> -->

            <div class="fuse-card auto-width">
                <div class="p-16" fxLayout="row" fxLayoutAlign="center center" style="background-color:#e91e63;  margin: 0;
                padding: 0 !important;">
                    <div class="h1 pr-16" style="color:white;" >Notices</div>
                    <mat-icon style="color:white;">integration_instructions</mat-icon>
                </div>
                 <div class="position-relative h-368 pb-16" style="background-color: #232837; color: white;">
                 <div class="notice" style="background-color: #232837; color: white;">
                    <mat-list  >
                        <mat-list-item *ngFor="let notice of notices" >
                            
                            <h3 matLine style="color: white;"> {{notice.created_by}} </h3>
                          <p style="color: white;" matLine>
                            <span style="white-space: initial !important;"> {{notice.subject}}-- </span>
                            <span style="white-space: initial !important;" class="demo" [innerHtml] = "notice.notice_info"> </span>
                          </p>
                          <mat-icon style="color: white;" matListIcon>account_circle</mat-icon>
                        </mat-list-item>
                      </mat-list> </div>
            </div>

            </div>
            <br>

          
            <!-- / Widget 5 -->
            <!-- <div class="pt-48 pb-24 font-size-18 font-weight-300">
               Fees Details
            </div> -->

            <div class="fuse-card auto-width">
                <div class="p-16" fxLayout="row" fxLayoutAlign="center center" style="background-color: #f9a825		; margin: 0;
                padding: 0 !important;">
                    <div class="h1 pr-16"  style="color:white; padding: 03px;" >Fees Details</div>
                    <mat-icon style="color:white;">attach_money</mat-icon>
                </div>
                 <div class="position-relative h-400 pb-16" style="background-color: #232837;">
                    
                    <mat-tab-group>
                        <mat-tab label="Paid" style="color:white"> 
                            <div class="active-pink-4">
                                <input class="mainLoginInput" type="text" placeholder="&#61442; Search by Student Name"
                                [(ngModel)] = "searchBox" (input) = "SearchPaid()">
                            </div>
                            <div class="fees-detail">
                                <table class = "table table-bordered">
                                    <tr style="color:white">
                                      <th>Student Name</th>
                                      <th>Parent Name</th>
                                      <th>Class Section</th>
                                      <th>Contact</th>
                                      
                                    </tr>
                                    <tr *ngFor="let obj of paidStudents" style="color:white">
                                        
                                        <td>{{obj.student_name}}</td>
                                        <td>{{obj.parent_name}}</td>
                                        <td>{{obj.class_name}}</td>
                                        <td>{{obj.student_mobile}}</td>
                                        
                                    </tr>
                                </table>
                                   </div> </mat-tab>
                        <mat-tab label="Unpaid" style="color:white"> 
                            <div class="active-pink-4">
                                <input class="mainLoginInput" type="text" placeholder="&#61442; Search by Student Name"
                                [(ngModel)] = "searchBox2" (input) = "SearchUnpaid()">
                            </div>
                         <div class="fees-detail">
                            <table class = "table table-bordered table-hover">
                                <tr style="color:white">
                                  <th>Student Name</th>
                                  <th>Parent Name</th>
                                  <th>Class Section</th>
                                  <th>Contact</th>
                                  
                                </tr>
                                <tr *ngFor="let obj of unPaidStudents" style="color:white">
                                    <td>{{obj.student_name}}</td>
                                    <td>{{obj.parent_name}}</td>
                                    <td>{{obj.class_name}}</td>
                                    <td>{{obj.student_mobile}}</td>
                                </tr>
                             </table></div> </mat-tab>
                        <mat-tab label="Defaulters" style="color:white">  
                            <div class="active-pink-4">
                                <input class="mainLoginInput" type="text" placeholder="&#61442; Search by Student Name"
                                [(ngModel)] = "searchBox3" (input) = "SearchDefaulters()">
                            </div>
                            <div class="fees-detail">
                                <table class = "table table-bordered table-hover">
                                    <tr style="color:white">
                                      <th>Student Name</th>
                                      <th>Parent Name</th>
                                      <th>Contact</th>
                                      <th>Class Section</th>
                                    </tr>
                                    <ng-container *ngIf="defaulterStudents != null">
                                        <tr *ngFor="let obj of defaulterStudents" style="color:white">
                                            <td>{{obj.student_name}}</td>
                                        <td>{{obj.parent_name}}</td>
                                        <td>{{obj.class_name}}</td>
                                        <td>{{obj.student_mobile}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="defaulterStudents == null">
                                        <tr>
                                            <td>No Record</td>
                                            <td>No Record</td>
                                            <td>No Record</td>
                                            <td>No Record</td>
                                        </tr>
                                    </ng-container>
                                    
                                </table> </div> </mat-tab>
                 </mat-tab-group>
                   
                </div>

            </div>
            <br>
            <!-- <div class="pt-48 pb-24 font-size-18 font-weight-300">
                Contact List
            </div>
  -->
             <!-- <div class="fuse-card auto-width">
                  <div class="position-relative h-400 pb-16">
                    <div class="active-pink-4">
                        <input class="mainLoginInput" type="text" placeholder="&#61442; Search by Name"
                        [(ngModel)] = "searchBoxContacts" (input) = "searchContacts()">
                    </div>
                    <div class="contacts">
                       
                    <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile *ngFor="let contact of contacts" class="script-menu">
                            <mat-icon  class="grid-list-icon">account_circle</mat-icon>
                            <p matLine style="margin-left: 1em;">
                              <span>{{contact.name}} </span><br>
                                <span>{{contact.email}} </span><br>
                              <span>{{contact.number}} </span><br>
                            </p><br>
                        </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                 </div>
 
             </div> -->
            
        

          

           
        </div>

        <div class="right">

            <div fxLayout="row wrap" fxLayout.gt-md="column">

                 <!-- Widget 9 -->
                 <div class="mb-48" [ngClass.lt-lg]="'mr-32'">

                    <!-- <div class="pb-24 font-size-18 font-weight-300" [ngClass.lt-lg]="'pt-0'">
                       What is Upcomming?
                    </div> -->

                    <div class="fuse-card">
    
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center" style="background-color:#2E8B57		; margin: 0;
                        padding: 0 !important;">
                            <div class="h1 pr-16"  style="color:white; padding: 03px;" >Events</div>
                            <mat-icon style="color:white;">calendar_today</mat-icon>
                        </div>

                        <mat-list style="background-color: #232837;">
                            <mat-list-item *ngFor="let event of events">
                              <h3 matLine style="color: white;"> {{event.event_name}} </h3>
                              <p matLine style="color: white;">
                                <span> {{event.event_date}} </span>
                                <span class="demo-2"> -- {{event.description}} </span>
                              </p>
                            </mat-list-item>
                          </mat-list>
                    </div>

                </div>
                <!-- / widget 9 -->
                <!-- Widget 7 -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'">

                    <!-- <div class="pb-24 font-size-18 font-weight-300">
                        What's the fees statistics?
                    </div> -->

                    <div class="fuse-card">

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center" style="background-color: #3a5a98		; margin: 0;
                        padding: 0 !important;">
                            <div class="h1 pr-16"  style="color:white; padding: 03px;" >Fees statistics</div>
                            <mat-icon style="color:white;">payment</mat-icon>
                        </div>

                        <div class="h-200" style="background-color: #232837;">
                            <ngx-charts-bar-vertical
                                *fuseIfOnDom
                                [scheme]="widget7.scheme"
                                [results]="feesStats"
                                
                                >
                            </ngx-charts-bar-vertical>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center" style="background-color: #232837;color: white;">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                                 *ngFor="let fees of feesStats">

                                <div class="h4 secondary-text" style="color: white;">{{fees.name}}</div>
                                <div class="h2 font-weight-300 py-8" style="color: white;">{{fees.value}}%</div>

                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <mat-icon class="s-18 pr-4 red-fg"
                                              *ngIf="fees.change < 0">
                                        arrow_downward
                                    </mat-icon>

                                    <mat-icon class="s-18 pr-4 green-fg"
                                              *ngIf="fees.change > 0">
                                        arrow_upward
                                    </mat-icon>

                                    <div class="h5 red-fg"
                                         [ngClass]="{'red-fg': fees.change < 0, 'green-fg': fees.change > 0}">
                                        {{fees.change}}%
                                    </div>
                                </div>

                            </div>

                        </div>

                </div><br>

               
                 <!-- Widget 7 -->
                 <div class="mb-48" [ngClass.lt-lg]="'mr-32'">

                    <!-- <div class="pb-24 font-size-18 font-weight-300">
                        What's the fees statistics?
                    </div> -->

                    <div class="fuse-card">

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center" style="background-color: #0097dc		; margin: 0;
                        padding: 0 !important;">
                            <div class="h1 pr-16"  style="color:white; padding: 03px;" >Contacts</div>
                            <mat-icon style="color:white;">contact_page</mat-icon>
                        </div>

                        <div class="h-300">
                            <div class="position-relative h-400 pb-16">
                                <div class="active-pink-4">
                                    <input class="mainLoginInput" type="text" placeholder="&#61442; Search by Name"
                                    [(ngModel)] = "searchBoxContacts" (input) = "searchContacts()">
                                </div>
                                <div class="contacts">
                                   
                                <mat-grid-list cols="1" rowHeight="2:1">
                                    <mat-grid-tile *ngFor="let contact of contacts" class="script-menu">
                                        <mat-icon  class="grid-list-icon" style="color: white;">account_circle</mat-icon>
                                        <p matLine style="margin-left: 1em; color: white;">
                                          <span>{{contact.name}} </span><br>
                                            <span>{{contact.email}} </span><br>
                                          <span>{{contact.number}} </span><br>
                                        </p><br>
                                    </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                             </div>
                            
                            <!-- <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widget7.scheme"
                                [results]="feesStats"
                                
                                >
                            </ngx-charts-pie-chart> -->
                        </div>

                        <!-- <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                                 *ngFor="let fees of feesStats">

                                <div class="h4 secondary-text">{{fees.name}}</div>
                                <div class="h2 font-weight-300 py-8">{{fees.value}}%</div>

                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <mat-icon class="s-18 pr-4 red-fg"
                                              *ngIf="fees.change < 0">
                                        arrow_downward
                                    </mat-icon>

                                    <mat-icon class="s-18 pr-4 green-fg"
                                              *ngIf="fees.change > 0">
                                        arrow_upward
                                    </mat-icon>

                                    <div class="h5 red-fg"
                                         [ngClass]="{'red-fg': fees.change < 0, 'green-fg': fees.change > 0}">
                                        {{fees.change}}%
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-divider mb-0"></div> -->

                    </div>

                </div>
                <!-- / Widget 7 -->

               
            </div>

        </div>

    </div>

</div>
