<h1>Chat</h1>
<mat-dialog-content class="mat-typography">
   <div *ngFor ="let item of data.obj">
    <div *ngIf ="item.sent_by == null || !item.sent_by ">
      <p>No Message Found!</p>
    </div>
   <div *ngIf ="item.sent_by == 'teacher'">
     <div class="container">
        <h2>Teacher-</h2>
        <p>{{item.message}}</p>
        <span class="time-right">{{item.updated_at | date:'h:mm a z'}}</span>
      </div>
   </div>   
   <div *ngIf ="item.sent_by == 'parent'">

      <div class="container darker">
        <h2>Parent-</h2>
        <p>{{item.message}}</p>
        <span class="time-left">{{item.updated_at | date:'h:mm a z'}}</span>
      </div>
   </div></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>