<h2 mat-dialog-title>Selected Date : {{data.date | date: 'dd/MM/yyyy'}}</h2>
<mat-dialog-content class="mat-typography">
<table style="width:100%">
    <tr>
        <th>Enrollment No</th>
        <th>Student Name</th>
        <th>Attendance Status</th>
    </tr>
    <tr *ngFor="let item of data.obj" >
        <td>{{item.enrollment_number}}</td>
        <td>{{item.first_name}} {{item.last_name}}</td>
        <td>{{item.attendance}}</td>
    </tr>
    
</table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>